Makefile
Makefile.in
*.creator.user*
*-glue.h
*-marshal.*
*.cdbs-orig
*.desktop
*.desktop.in
*.la
*.lo
*.loT
*.schema-ini
*.schemas*
*.vala.stamp
.libs
.deps
aclocal.m4
autom4te.cache
awn.pc
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doltcompile
doltlibtool
gtk-doc.make
install-sh
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
py-compile
stamp-h1
applet-activation/awn-applet
awn-settings/awn_defs.py
bindings/python/awn.c
data/avant-window-navigator.schema-ini.in
debian/*.debhelper.log
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/*.preinst.debhelper
debian/*.prerm.debhelper
debian/*.substvars
debian/*-trunk/
debian/files
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/stamp-patched
debian/tmp/
doc/reference/*.bak
doc/reference/*-scan.c
doc/reference/html*
doc/reference/sgml*
doc/reference/tmpl*
doc/reference/tmpl/*.sgml*
doc/reference/xml
doc/reference/libawn-decl-list.txt
doc/reference/libawn-decl.txt
doc/reference/libawn-overrides.txt
doc/reference/libawn-sections.txt
doc/reference/libawn-undeclared.txt
doc/reference/libawn-undocumented.txt
doc/reference/libawn-unused.txt
doc/reference/libawn.args
doc/reference/libawn.hierarchy
doc/reference/libawn.interfaces
doc/reference/libawn.prerequisites
doc/reference/libawn.signals
doc/reference/scan-build.stamp
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4
po/*.gmo
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
shave/shave
shave/shave-libtool
src/avant-window-navigator
src/icon-test
tests/test-applet-simple
tests/test-awn-effects
tests/test-awn-icon
tests/test-awn-icon-box
tests/test-taskmanager
tests/test-themed-icon
tests/test-vala-awn-dialog
tests/test-vala-awn-dialog.c
themes/*.awn-theme
