Source: avant-window-navigator-trunk
Section: gnome
Priority: optional
Maintainer: Julien Lavergne <julien.lavergne@gmail.com>
Build-Depends: 	debhelper (>= 7),
		quilt,
		intltool,
		libwnck-dev,
		libdbus-glib-1-dev,
		libxcomposite-dev,
		libxdamage-dev,
		libgtop2-dev,
		python-support (>= 0.7.0),
		python-dev,
		python-all-dev (>= 2.4),
		python-gtk2-dev (>= 2.12),
		python-cairo-dev,
		gtk-doc-tools, 
		doc-base,
		gconf2,
		valac-0.10 (>= 0.9.1),
		automake,
		libdesktop-agnostic-dev,
		libdesktop-agnostic-bin,
		python-desktop-agnostic | python-libdesktop-agnostic,
		vala-desktop-agnostic | vala-libdesktop-agnostic,
		lsb-release,
		bzr,
		libssl-dev
Standards-Version: 3.7.3
Homepage: https://launchpad.net/avant-window-navigator/

Package: avant-window-navigator-trunk
Section: gnome
Architecture: any
Depends: 	${shlibs:Depends},
		${misc:Depends},
		avant-window-navigator-data-trunk (>= ${source:Version}),
		python-awn-trunk (>= ${source:Version}),
		libdesktop-agnostic-vfs,
		libdesktop-agnostic-fdo,
		libdesktop-agnostic-cfg,
		dbus-x11 | dbus
Recommends:	awn-settings-trunk (>= 0.2),
			awn-applets-c-core-trunk,
			awn-applets-python-core-trunk,
			awn-applets-c-extras-trunk,
			awn-applets-python-extras-trunk
Suggests: 	metacity (>= 2.21.5) | xcompmgr | compiz | xfwm4 (>= 4.2)
Conflicts: avant-window-navigator-bzr, avant-window-navigator, avant-window-navigator-testing
Replaces: avant-window-navigator-bzr, avant-window-navigator, avant-window-navigator-testing
Description: A MacOS X like panel for GNOME
 The avant-window-navigator is a MacOS X like panel for the GNOME Desktop
 written in C.  In addition to launchers that can be dragged onto the bar, 
 it features a taskbar that behaves similarly to the Mac OSX dock. The window 
 navigator uses the composite extension for transparency and other effects.

Package: avant-window-navigator-data-trunk
Section: gnome
Architecture: all
Depends: 	avant-window-navigator-trunk (>= ${source:Version}),
		${misc:Depends}
Conflicts: avant-window-navigator (<= 0.2.1-dfsg1-1), avant-window-navigator-data, avant-window-navigator-data-testing, avant-window-navigator-data-bzr
Replaces: avant-window-navigator (<= 0.2.1-dfsg1-1), avant-window-navigator-data, avant-window-navigator-data-testing, avant-window-navigator-data-bzr
Description: Common files for avant-window-navigator
 This package contains all images and locales for avant-windows-navigator.

Package: libawn1-trunk
Section: libs
Architecture: any
Depends: 	${shlibs:Depends},
		${misc:Depends},
Suggests: 	metacity (>= 2.21.5) | xcompmgr | compiz | xfwm4 (>= 4.2)
Conflicts: libawn1-bzr, libawn-bzr, libawn, libawn1, libawn1-testing
Replaces: libawn1-bzr, libawn-bzr, libawn, libawn1, libawn1-testing
Description: library for avant-window-navigator
 This library is used by avant-window-navigator and its applets. It provides 
 functions to create the bar and the applets.

Package: libawn-doc-trunk
Section: doc
Architecture: all
Depends:	libawn1-trunk (>= ${source:Version})
Conflicts: libawn1-doc-bzr, libawn-doc-bzr, libawn-doc, libawn1-doc, libawn1-doc-testing
Replaces: libawn1-doc-bzr, libawn-doc-bzr, libawn-doc, libawn1-doc, libawn1-doc-testing
Description: library for avant-window-navigator - development files
 This package contains documentation for avant-window-navigator and its library
 libawn to develop applets or the bar.

Package: libawn-dev-trunk
Section: libdevel
Architecture: any
Depends:	libawn1-trunk (= ${binary:Version}),
		${shlibs:Depends},
		${misc:Depends},
		libgtk2.0-dev,
		libdesktop-agnostic-dev
Conflicts: libawn-dev-bzr, libawn-dev, libawn-testing-dev
Replaces: libawn-dev-bzr, libawn-dev, libawn-testing-dev
Description: library for avant-window-navigator - development files
 This package provides the include files and static library for the
 avant-window-navigator library functions.

Package: awn-settings-trunk
Section: gnome
Architecture: all
Depends:	${python:Depends}, 
		avant-window-navigator-trunk (>= 0.2),
		gnome-menus,
		librsvg2-common,
		python-awn-trunk,
Suggests: bzr,
Conflicts: awn-manager-bzr, awn-manager, awn-manager-testing, libawn1-testing (<< 0.2.4), awn-manager-trunk, awn-settings
Replaces: awn-manager-bzr, awn-manager, awn-manager-testing, libawn1-testing (<< 0.2.4), awn-manager-trunk, awn-settings
XB-Python-Version: ${python:Versions}
Description: A preferences manager for avant-window-navigator
 awn-settings provides a simple way to configure avant-window-navigator.
 You can manage preferences, themes, applets and launchers.

Package: python-awn-trunk
Section: python
Architecture: any
Depends:	libawn1-trunk (= ${binary:Version}),
		${shlibs:Depends},
		${misc:Depends},
		${python:Depends},
		python-desktop-agnostic | python-libdesktop-agnostic
Provides: ${python:Provides}
Conflicts: python-libawn0, python-libawn, python-libawn-bzr, python-awn, python-awn-testing
Replaces: python-libawn0, python-libawn, python-libawn-bzr, python-awn, python-awn-testing
XB-Python-Version: ${python:Versions}
Description: Python bindings for avant-window-navigator library 
 This library is used by avant-window-navigator. It provides Python bindings 
 to create and use Python applets for avant-window-navigator.

Package: vala-awn-trunk
Section: gnome
Architecture: all
Depends: 	libawn1-trunk (>= ${source:Version}),
		${shlibs:Depends}, 
		${misc:Depends},
		vala-desktop-agnostic | vala-libdesktop-agnostic 
Conflicts: vala-awn-testing, vala-awn
Replaces: vala-awn-testing, vala-awn
Description: Vala bindings for avant-window-navigator library 
 This library is used by avant-window-navigator. It provides Vala bindings 
 to create and use Vala applets for avant-window-navigator.

Package: libawn1-dbg-trunk
Section: libs
Architecture: any
Depends: 	libawn1-trunk (= ${binary:Version})
Conflicts: libawn1-dbg-bzr, libawn-dbg-bzr, libawn-dbg, libawn1-dbg, libawn1-dbg-testing
Replaces: libawn1-dbg-bzr, libawn-dbg-bzr, libawn-dbg, libawn1-dbg, libawn1-dbg-testing
Description: library for avant-window-navigator - debug package
 This library is used by avant-window-navigator and its applets. It provides 
 functions to create the bar and the applets.
