#!/usr/bin/make -f
#DH_VERBOSE=1
DEB_DH_INSTALL_SOURCEDIR=debian/tmp

ifeq ($(wildcard .bzr),)
EXTRA_VERSION := -rewrite-$(shell dpkg-parsechangelog | egrep '^Version:' | awk '{print $2}' | cut -d~ -f 2)
else
EXTRA_VERSION := -rewrite-bzr$(shell bzr revno)-$(shell lsb_release -cs)1-1
endif

include /usr/share/quilt/quilt.make

LDFLAGS+=-Wl,-z,defs -Wl,--as-needed

configure_flags += 	--prefix=/usr \
			--disable-pymod-checks \
			--enable-gtk-doc \
			--with-gconf-schema-file-dir=/etc/gconf/schemas \
			--disable-maintainer-mode \
			--enable-extra-version=$(EXTRA_VERSION)

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh_testdir
	./autogen.sh $(configure_flags)
	dh_auto_configure -- $(configure_flags)
	dh_auto_build
	touch build-stamp

install: build install-stamp
install-stamp:
	dh_testroot
	dh install --before build
	dh_auto_build
	dh install --after test
	touch install-stamp

clean: unpatch
	dh clean

binary-arch: install
	dh_strip --dbg-package=libawn1-dbg-trunk
	dh binary-arch --after test

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
