#!/usr/bin/make -f
DEB_DH_INSTALL_SOURCEDIR=debian/tmp

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

EXTRA_VERSION := -trunk-$(shell dpkg-parsechangelog | egrep '^Version:' | awk '{print $2}' | cut -d~ -f 2)

DEB_CONFIGURE_SCRIPT := $(CURDIR)/$(DEB_SRCDIR)/autogen.sh
DEB_CONFIGURE_EXTRA_FLAGS += 	--disable-pymod-checks \
				--with-desktop=gnome \
				--with-gconf \
				--enable-gtk-doc \
				--enable-extra-version=$(EXTRA_VERSION)

DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,-z,defs -Wl,--as-needed"

DEB_INSTALL_MANPAGES_avant-window-navigator-trunk := debian/avant-window-navigator.1 debian/awn-applet-activation.1
DEB_INSTALL_MANPAGES_awn-manager-trunk := debian/awn-manager.1 debian/awn-launcher-editor.1 debian/awn-schema-to-gconf.1

DEB_DH_MAKESHLIBS_ARGS_libawn0-trunk += -V"libawn0-trunk (>= 0.3.0)"
DEB_DH_MAKESHLIBS_ARGS_avant-window-navigator-trunk += -n
DEB_SHLIBDEPS_LIBRARY_avant-window-navigator-trunk:= libawn0-trunk
DEB_SHLIBDEPS_INCLUDE_avant-window-navigator-trunk := debian/libawn0-trunk/usr/
DEB_DH_STRIP_ARGS := --dbg-package=libawn0-dbg-trunk

install/avant-window-navigator-trunk::
	dh_install -pavant-window-navigator-trunk --sourcedir=debian/tmp
	mv debian/tmp/usr/bin/avant-window-navigator debian/avant-window-navigator-trunk/usr/bin/awn
	cp data/awn-applets-migration.py debian/avant-window-navigator-trunk/usr/share/avant-window-navigator/awn-applets-migration.py
	cp debian/awn.wrapper debian/avant-window-navigator-trunk/usr/bin/avant-window-navigator

binary-post-install/awn-manager-trunk::
	dh_pycentral -pawn-manager-trunk

binary-post-install/python-awn-trunk::
	dh_pycentral -ppython-awn-trunk
